<app-usuarios></app-usuarios>
<section>
<div class="container">
    
    <div class="grey lighten-4 container form">
        <h3 class="teal-text">Login</h3>
  <br/>
    <form>
      <label for="email">Email:</label>
      <input type="text" id="email" name="emailUser" [(ngModel)]="userLogin.emailUser">
      <label for="senha">Senha:</label>
      <input type="text" id="senha" name="senha" [(ngModel)]="userLogin.senha">
    <br /> <br />
  <div class="row center">  
  <button (click)="fazerLogin()" class="btn-large waves-effect waves-light orange">Entrar</button>
  </div>
  </form>
  <div><p> {{ mensagem }} </p></div>
  </div>
</div>
</section>

