/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.link {
  color: #ffffff;
}
.menu{
  margin-left: 300px;
}
.topo{
  height: 68px;
}
.logo{
  margin-left: 2%;
}
.banner{
  height: 500px;
  background: url(../images/friends.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner h1
{
  font-weight: 700;
  font-family: 'Rammetto One', cursive;
}
.section h3{
  font-family: 'Rammetto One', cursive;
  text-align: center;
}
.img-pet{
  margin-bottom: 20px;
}
.img-pet img{
  object-fit: cover;
  height: 200px;
  width: 300px;
  max-width: 100%;
}

.footer{
  padding: 2%;
}