<h1>Usuarios</h1>
<form>
  Nome:<input type="text" name="nomeUser" [(ngModel)]="user.nomeUser"/>
  Email:<input type="text" name="emailUser" [(ngModel)]="user.emailUser"/>
  Telefone:<input type="text" name="telefone" [(ngModel)]="user.telefone"/>
  <button type="button" (click)="cadastrar()">Cadastrar</button>
</form>
<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let user  of  users">
    <td>{{ user.nomeUser }}</td>
    <td>{{ user.emailUser }}</td>
  </tr>
</table>