<div class="menu">
    <ul class="left hide-on-med-and-down">
      <li><a class="link" href="sass.html">Sass</a></li>
      <li><a class="link" href="badges.html">Components</a></li>
      <li><a class="link" href="collapsible.html">Javascript</a></li>
      <li><a class="link" href="mobile.html">Mobile</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
        <li><a routerLink="/cadastro" class="small waves-effect waves-light btn orange">Cadastrar</a></li>
        <li><a routerLink="/login" class="small waves-effect waves-light btn teal">Login</a></li>
    </ul>
    </div>
    