<div class="menu">
    <ul class="left hide-on-med-and-down">
      <li><a class="link" href="#">Sobre</a></li>
      <li><a class="link" href="#">Instituições</a></li>
      <li><a class="link" href="#">Eventos</a></li>
      <li><a class="link" href="#">Contato</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
        <li><a routerLink="/cadastro" class="small waves-effect waves-light btn orange">Cadastrar</a></li>
        <li><a routerLink="/login" class="small waves-effect waves-light btn teal">Login</a></li>
    </ul>
    </div>
    