<app-topo-logado></app-topo-logado>
<div class="container">
  <br />
  <br />
  <div class="row">
    <div class="col s12 m3">
      <p>Meu anuncio!</p>
    </div>
    <div class="col s12 m3">
      <p>Meu anuncio!</p>
    </div>
    <div class="col s12 m3">
      <p>Meu anuncio!</p>
    </div>
    <div class="col s12 m3">
      <p>Meu anuncio!</p>
    </div>
    <br />
    <br />
    <div class="row center">
      <a [routerLink]="['/cadastrar-pet/', id]" class="btn-large waves-effect waves-light orange">Novo anuncio</a>
    </div>
  </div>
</div>