<app-topo-logado></app-topo-logado>
<section>
<div class="container">
  <br />
  <br />
  <div><p>{{ mensagem }}</p></div>
  <div class="row" *ngFor="let pet  of pets">
    <div class="col s12 m3">
      <p>{{ pet.nomePet }} 
        <a (click)="deletarPet(pet.idPet)" class="waves-effect waves-teal btn-flat"> <i class="material-icons">delete</i></a>
        <a [routerLink]="['/editar-pet/', pet.idPet]" class="waves-effect waves-teal btn-flat"> <i class="material-icons">edit</i></a>
      </p>
    </div>
    <br />
    <br />
  </div>
  <div class="row center">
    <a [routerLink]="['/cadastrar-pet/', idUser]" class="btn-large waves-effect waves-light orange">Novo anuncio</a>
  </div>
</div>
</section>