<div class="navbar-fixed">
  <nav class="grey lighten-4 topo" role="navigation">
      <div class="nav-wrapper">
        <div class="logo">
        <a routerLink="/" class="brand-logo"> <img src="assets/images/logo_p_pets.png"/> </a>
        <a routerLink="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons teal-text">menu</i></a>
        </div>
        <div class="menu">
            <ul class="left hide-on-med-and-down">
              <li><a class="link" [routerLink]="['/dashboard/', idUser]">Meus anúncios</a></li>
              <li><a class="link" [routerLink]="['/dashboard/perfil/', idUser]">Meu perfil</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
              <li><a routerLink="/login" class="small waves-effect waves-light btn teal">Sair</a></li>
            </ul>
            </div>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
      <li><a class="link" href="#">Meus anúncios</a></li>
      <li><a class="link" href="#">Meu perfil</a></li>
      <li><a routerLink="/login" class="small waves-effect waves-light btn teal">Sair</a></li>
    </ul>
<section>
<div class="container">
  <br />
  <br />
  <div><p>{{ mensagem }}</p></div>
  <div class="row" *ngFor="let pet  of pets">
    <div class="col s12 m3">
      <p>{{ pet.nomePet }} 
        <a (click)="deletarPet(pet.idPet)" class="waves-effect waves-teal btn-flat"> <i class="material-icons">delete</i></a>
        <a [routerLink]="['/editar-pet/', pet.idPet]" class="waves-effect waves-teal btn-flat"> <i class="material-icons">edit</i></a>
      </p>
    </div>
    <br />
    <br />
  </div>
  <div class="row center">
    <a [routerLink]="['/cadastrar-pet/', idUser]" class="btn-large waves-effect waves-light orange">Novo anuncio</a>
  </div>
</div>
</section>