<div class="navbar-fixed">
    <nav class="grey lighten-4 topo" role="navigation">
        <div class="nav-wrapper">
          <div class="logo">
          <a routerLink="/" class="brand-logo"> <img src="assets/images/logo_p_pets.png"/> </a>
          <a routerLink="/"  data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons teal-text">menu</i></a>
          </div>
          <app-menu></app-menu>
        </div>
      </nav>
    </div>
    <app-menu-mobile></app-menu-mobile>
    <div class="section no-pad-bot banner" id="index-banner">
        <div class="container">
          <br><br>
          <h1 class="header center orange-text">Quer adotar?</h1>
          <!--<div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
          </div>-->
          
          <div class="container">
            <form>
                <div class="row">
                <div class="input-field col s12 m6" >
                    <select class="browser-default">
                      <option value="" >Choose your option</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                  </div>
                  <div class="input-field col s12 m6">
                      <select class="browser-default">
                        <option value="">Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
                    </div>
                  </div> 
                  <div class="row">
                      <div class="input-field col s12 m6" >
                          <select class="browser-default">
                            <option value="" >Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                          </select>
                        </div>
                        <div class="input-field col s12 m6">
                            <select class="browser-default">
                              <option value="">Choose your option</option>
                              <option value="1">Option 1</option>
                              <option value="2">Option 2</option>
                              <option value="3">Option 3</option>
                            </select>
                          </div>
                        </div> 
                  <div class="row center">           
                <button class="btn-large waves-effect waves-light orange">Buscar</button>
              </div>   
              </form>
          </div>
          
          <br><br>
    
        </div>
      </div>
    
    
      <div class="container">
        <div class="section">
          <h3 class="teal-text">Encontre seu pet</h3>
          <div class="row">
            <!--<div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="center">Speeds up development</h5>
    
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
              </div>
            </div> -->
            <div class="col s6 m3">
              <div class="img-pet">
                  <img src="assets/images/dog-cat.jpg" />
              </div>      
            </div>
            <div class="col s6 m3">
                <div class="img-pet">
                    <img src="assets/images/friends.jpg" />
                </div>      
              </div>
              <div class="col s6 m3">
                  <div class="img-pet">
                      <img src="assets/images/friends.jpg" />
                  </div>      
              </div>
              <div class="col s6 m3">
                  <div class="img-pet">
                      <img src="assets/images/friends.jpg" />
                  </div>      
              </div>
              <div class="col s6 m3">
                  <div class="img-pet">
                      <img src="assets/images/friends.jpg" />
                  </div>      
              </div>
              <div class="col s6 m3">
                  <div class="img-pet">
                      <img src="assets/images/friends.jpg" />
                  </div>      
              </div>
    
            </div>
          </div>
        <br><br>
      </div>